:root {
    --main-bg-color: #49dcb1ff;
    --text-color: rgb(248, 248, 248);
    --second-bg-color: rgb(7, 12, 31);
    --second-text-color: rgb(40, 173, 226);
  }

.Text-alligned{  
  text-align: justify;
  text-justify: inter-word;
}

.image {
  margin:0 0 0 70px;
  color: var(--text-color);  
}

.image1 {
  border-radius:50%;  
}

.title{
  color: var(--text-color);
}

body{
      background-color: var(--second-bg-color);
      color:var(--second-text-color);
      font-family: 'Sniglet', cursive;
  }
svg{
    fill: var(--second-text-color);
    width:48px;
    height:48px;
  }



/* .hero-text{
  display:flex;
  align-items:left;
 
} */


form{
  display:flex;
  align-items:right;
}

.search-input{
  width: 300px;
  display:flex;
  
}

.navbar-collapse a {
  color:var(--second-text-color);
  font-size: 20px;
}

.d-flex{
  position: relaitve;
  float: right;
}

